<div id="<%= dom_id mom %>">
  <p>
    <strong>Date:</strong>
    <%= mom.date %>
  </p>

  <p>
    <strong>Calledby:</strong>
    <%= mom.calledby %>
  </p>

  <p>
    <strong>Descrption:</strong>
    <%= mom.descrption %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= mom.title %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= mom.venue %>
  </p>

  <p>
    <strong>Callby:</strong>
    <%= mom.callby_id %>
  </p>

  <p>
    <strong>Meet:</strong>
    <%= mom.meet_id %>
  </p>

  <p>
    <strong>Attendby:</strong>
    <%= mom.attendby %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= mom.report %>
  </p>

</div>
