<div id="<%= dom_id action %>">
  <p>
    <strong>Mom:</strong>
    <%= action.mom_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= action.description %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= action.budget %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= action.deadline %>
  </p>

  <p>
    <strong>Appointed person:</strong>
    <%= action.appointed_person %>
  </p>

</div>
