<%if user_signed_in? %>
<h1>INVITATION</h1>
<div>
<table id="example" class="table table-striped table-bordered" style="width:100%">
<input class="form-control" id="myInput" type="text" placeholder="Search..">
         <thead>
            <tr>
                <th>Type</th>
                <th>Date</th>
                <th>Title</th>
                <th>Description</th>
                <th>Suggest Agenda</th>
            </tr>
        </thead>
        <tbody id="tableData">
            <div id="addvs">
  <% @meets.each do |meet| %>
<tr>
    <% if meet.type2 == 2 && current_user.role == "hod" %>
                <td>
                <%if meet.type2 == 1%>
                For Deans
                <% end %>
                
                <%if meet.type2 == 2%>
                For All HODs 
                <% end %>
                
                <%if meet.type2 == 3%>
                For all HODs and Chairperson
                <% end %>

                </td>
                <td><%= meet.date%></td>
                 <td><%= meet.title%></td>
                <td><%= meet.description%></td>
                <td>
                     <%= link_to "Give agenda", home_new_path(:id => meet.id) %> 
                </td>
    <% end %>





    <% if meet.type2 == 2 && current_user.role == "dean" %>
                <td>
                <%if meet.type2 == 1%>
                For Deans
                <% end %>
                
                <%if meet.type2 == 2%>
                For All HODs 
                <% end %>
                
                <%if meet.type2 == 3%>
                For all HODs and Chairperson
                <% end %>

                </td>
                <td><%= meet.date%></td>
                 <td><%= meet.title%></td>
                <td><%= meet.description%></td>
                <td>
                     <%= link_to "Give agenda", home_new_path(:id => meet.id) %> 
                </td>
    <% end %>




    <% if meet.type2 == 3 && current_user.role == "hod" %>
                <td>
                <%if meet.type2 == 1%>
                For Deans
                <% end %>
                
                <%if meet.type2 == 2%>
                For All HODs 
                <% end %>
                
                <%if meet.type2 == 3%>
                For all HODs and Chairperson
                <% end %>

                </td>
                <td><%= meet.date%></td>
                 <td><%= meet.title%></td>
                <td><%= meet.description%></td>
                <td>
                     <%= link_to "Give agenda", home_new_path(:id => meet.id) %> 
                </td>
    <% end %>




    <% if meet.type2 == 3 && current_user.role == "chairperson" %>
                <td>
                <%if meet.type2 == 1%>
                For Deans
                <% end %>
                
                <%if meet.type2 == 2%>
                For All HODs 
                <% end %>
                
                <%if meet.type2 == 3%>
                For all HODs and Chairperson
                <% end %>

                </td>
                <td><%= meet.date%></td>
                 <td><%= meet.title%></td>
                <td><%= meet.description%></td>
                <td>
                     <%= link_to "Give agenda", home_new_path(:id => meet.id) %> 
                </td>
    <% end %>




    <% if meet.type2 == 3 && current_user.role == "dean" %>
                <td>
                <%if meet.type2 == 1%>
                For Deans
                <% end %>
                
                <%if meet.type2 == 2%>
                For All HODs 
                <% end %>
                
                <%if meet.type2 == 3%>
                For all HODs and Chairperson
                <% end %>

                </td>
                <td><%= meet.date%></td>
                 <td><%= meet.title%></td>
                <td><%= meet.description%></td>
                <td>
                     <%= link_to "Give agenda", home_new_path(:id => meet.id) %> 
                </td>
    <% end %>



  
    <% if meet.type2 == 1 && current_user.role == "dean" %>
                <td>
                <%if meet.type2 == 1%>
                For Deans
                <% end %>
                
                <%if meet.type2 == 2%>
                For All HODs 
                <% end %>
                
                <%if meet.type2 == 3%>
                For all HODs and Chairperson
                <% end %>

                </td>
                <td><%= meet.date%></td>
                 <td><%= meet.title%></td>
                <td><%= meet.description%></td>
                <td>
                     <%= link_to "Give agenda", home_new_path(:id => meet.id) %> 
                </td>
    <% end %>


  <% if meet.type2 == 1 && current_user.role == "director" %>
                <td>
                <%if meet.type2 == 1%>
                For Deans
                <% end %>
                
                <%if meet.type2 == 2%>
                For All HODs 
                <% end %>
                
                <%if meet.type2 == 3%>
                For all HODs and Chairperson
                <% end %>

                </td>
                <td><%= meet.date%></td>
                 <td><%= meet.title%></td>
                <td><%= meet.description%></td>
                <td>
                     <%= link_to "Give agenda", home_new_path(:id => meet.id) %> 
                </td>
    <% end %>




               <% end %>
            </tr>
        </tfoot>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tableData tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</div>


<%else%>


<h1><strong>HOME</strong> _ PLEASE LOGIN FIRST </h1>

 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "img1.jpg",width: 1250,height: 400 %>
      <div class="carousel-caption d-none d-md-block">
        <h3></h3>
        <p> Page-1</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "img3.jpg",width: 1250,height: 400 %>
      <div class="carousel-caption d-none d-md-block">
         <h3> </h3>
        <p>Page-2</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "img2.jpg",width: 1250,height: 400 %>
      <div class="carousel-caption d-none d-md-block">
         <h3> </h3>
        <p>Page-3</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


     <!-- contact us-->
<section class="team my-5 text-center " data-aos="fade-up" data-aos-offset="200">
    <div class="container">
    <div data-aos="fade-up">
        <h3>Our<span class="text-primary"> Teams</span></h3>
        <hr / class="w-2 m-auto">
    </div> 

    <div class="row"> 
    <div class="col-sm-12 col-md-3 col-lg-3  col-12"> 
            <div class="card">
            <div class="card-body">
            <%= image_tag "hk1.jpg",class:"img-fluid rounded-circle border border-primary" %>
            <!--<i class="fa fa-user icon"></i> -->
                <h5 class="card-title mt-4">SYAM KUMAR KS </h5>
                <p class="card-text">Frontend/Backend Devloper</p>
               <h6>Example1@gmail.com</h6>
            </div>
            </div>  
    
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3  col-12">
            <div class="card">
            <div class="card-body">
            <%= image_tag "hk1.jpg",class:"img-fluid rounded-circle border border-primary" %>
            <!--<i class="fa fa-user icon"></i> -->
                <h5 class="card-title mt-4">AASHISH CHAUHAN</h5>
                <p class="card-text"> Frontend/Backend Devloper</p>
               <h6>Example1@gmail.com</h6>
            </div>
            </div>
    
        </div>
    <div class="col-sm-12 col-md-3 col-lg-3  col-12"> 
        <div class="card">
            <div class="card-body">
            <%= image_tag "hk1.jpg",class:"img-fluid rounded-circle border border-primary" %>
        
            <!--<i class="fa fa-user icon"></i> -->
                <h5 class="card-title mt-4">SULALA SALEEM P</h5>
                <p class="card-text">Frontend/Backend Devloper</p>
                <h6>Example1@gmail.com</h6>
            </div>
            </div>   
            
    
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3  col-12"> 
        <div class="card">
            <div class="card-body">
            <%= image_tag "hk1.jpg",class:"img-fluid rounded-circle border border-primary" %>
            <!--<i class="fa fa-user icon"></i> -->
                <h5 class="card-title mt-4">YATTANDEEP SINGH</h5>
                <p class="card-text">Frontend/Backend Devloper</p>
                <h6>Example1@gmail.com</h6>
            </div>
            </div>
    
    </div>
    </div>
    </div>


    <div class="col-sm-12 col-md-3 col-lg-3  col-12"> 
        <div class="card">
            <div class="card-body">
            <%= image_tag "hk1.jpg",class:"img-fluid rounded-circle border border-primary" %>
            <!--<i class="fa fa-user icon"></i> -->
                <h5 class="card-title mt-4">ABHIMANYU SINGH</h5>
                <p class="card-text">Frontend/Backend Devloper</p>
                <h6>Example1@gmail.com</h6>
            </div>
            </div>
 </section>
<%end%>
    <section>
    <div class="container text-center" data-aos="fade-up" data-aos-offset="100">
    <h1>About <span class="text-primary">us</span>....</h1>
    <!-- <p>Team Members:</p> -->
    <h6>Prepared by:</h6>
    <h3>1. SYAM KUMAR KS ( M220118CS)</h3>
    <h3>2. AASHISH CHAUHAN ( M220452CS )</h3>
    <h3>3. SULALA SALEEM P ( M220118CS )</h3>
    <h3>4. YATTANDEEP SINGH (M220287CS)</h3>
    <h3>5. ABHIMANYU SINGH (M220278CS)</h3>

    <h4>Course : CS6154D Topics in Database


    </div>
    </section>