

<%= form_with(model: meet) do |form| %>
  <% if meet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meet.errors.count, "error") %> prohibited this meet from being saved:</h2>

    </div>
  <% end %>

<section class="vh-100" style="background-color: #2779e2;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-5">

        <h1 class="text-white mb-4">Create/Edit New Meeting</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0"> Set Date and Time </h6>
              <%= form.number_field :user_id ,value:current_user.id , type: :hidden %>
                 <%= form.number_field :user_id , value: current_user.id ,type: :hidden %>
              </div>
              <div class="col-md-9 pe-5">
              
    <%= form.datetime_field :date %>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Title</h6>

              </div>
              <div class="col-md-9 pe-5">
                 <p> <%= form.text_field :title %></p>
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Description</h6>

              </div>
              <div class="col-md-9 pe-5">

                    <%= form.text_area :description %>
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">For</h6>

              </div>
              <div class="col-md-9 pe-5">

    <%=
      form.select(:type2,options_for_select([
      ['For Deans',1] , ['For HODs',2] ,['For Chairpersons + All HOds',3] ]  ))  
    %>


              </div>
            </div>

            <hr class="mx-n3">

            <div class="px-5 py-4">

             <%= form.submit "Create" , class: "btn btn-secondary"  %>
              
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<%end%>